#testDiv1 {
  width: 25%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: left;
}

#testDiv2 {
  width: 35%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
float: left;
}

#testDiv3 {
  width: 35%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: left;
}

#container {
  width: 100%;
}
